<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="leftImage"></ion-img>
      </ion-col>
      <ion-col>
        <ion-row class="row-custom">
          <ion-col style="margin: auto">
            <ion-img [src]="ecoshowerLogo" class="logo-custom"></ion-img>
            <ion-card class="card-custom">
              <ion-card-header style="font-weight: bold; --color: black">
                Registro
              </ion-card-header>

              <ion-card-content>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <ion-input class="input-custom" placeholder="Nombre*" formControlName="fullName"></ion-input>
                  <ion-input class="input-custom" placeholder="Email*" formControlName="email"></ion-input>
                  <div formGroupName="address">
                    <ion-input class="input-custom" placeholder="Dirección" formControlName="street"></ion-input>
                    <ion-input class="input-custom" placeholder="Ciudad" formControlName="city"></ion-input>
                    <ion-input class="input-custom" placeholder="Region" formControlName="state"></ion-input>
                  </div>
                  <ion-input class="input-custom" placeholder="Teléfono*" formControlName="phone"></ion-input>
                  <ion-input class="input-custom" placeholder="Contraseña" formControlName="password"></ion-input>
                  <ion-input class="input-custom" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
                  </ion-input>
                  <ion-button size="small" class="buttom-green-custom text-align: left" color="text" type="submit"
                    [disabled]="!registerForm.valid">
                    Registrarme
                  </ion-button>
                  <ion-button size="small" class="buttom-blue-custom" color="text" (click)="onSignIn()">
                    Ya tengo cuenta
                  </ion-button>
                </form>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>