<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="row-custom">
      <ion-col style="margin: auto">
        <ion-img [src]="logo" class="logo-custom"></ion-img>
        <ion-card class="card-custom">
          <ion-card-header style="font-weight: bold; --color: black">
            Reestablecer contraseña
          </ion-card-header>

          <ion-card-content>
              <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                <ion-input class="input-custom" placeholder="Email o Teléfono" formControlName="emailPhone">
                </ion-input>
                <ion-button size="small" class="buttom-green-custom" color="text" type="submit"
                  [disabled]="!recoveryForm.valid">Recuperar contraseña</ion-button>
                <ion-button size="small" class="buttom-blue-custom" color="text" (click)="onSignIn()">
                  Ya tengo cuenta
                </ion-button>
              </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>