<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="row-custom">
      <ion-col style="margin: auto">
        <ion-img [src]="logo" class="logo-custom"></ion-img>
        <ion-card class="card-custom">
          <ion-card-header style="font-weight: bold; --color: black">
            Reestablecer contraseña
          </ion-card-header>

          <ion-card-content>
            <ion-row>
              <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                <ion-col size="12" style="text-align: left">
                  <ion-input class="input-custom" placeholder="Email o Teléfono" formControlName="emailPhone">
                  </ion-input>
                </ion-col>
                <ion-col size="6" style="text-align: left; padding-top: 25px">
                  <ion-button size="small" class="buttom-green-custom" color="text" type="submit"
                    [disabled]="!recoveryForm.valid">Recuperar contraseña</ion-button>
                </ion-col>
                <ion-col size="6" style="
                  text-align: right;
                  padding-top: 25px;
                ">
                  <ion-button size="small" class="buttom-blue-custom" color="text" (click)="onSignIn()">
                    Ya tengo cuenta
                  </ion-button>
                </ion-col>
              </form>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>